@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins:wght@400;500;700;900&display=swap');
@import url(./reset.css);
@import url(./header.css);
@import url(./banner.css);
@import url(./carrossel.css);
@import url(./topicos.css);
@import url(./contato.css);

:root{
    --cor-primaria: #EBECEE;  /*Cor do Background */
    --cor-secundaria: #EB9B00;
    --cor-terceira: #002F52;
    --cor-branco: #FFFFFF;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-azul-sem-degrade: #002F52;
    --cor-cinza: #474646;
    --cor-cinza-claro: #858585;

    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
}

.cabecalho{
    background-color: var(--cor-branco);
}
